{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div class="row" style="height: 92.5vh;">
            <div class="col">
                <h1>Over 2000000 projects posted in six moths with tonnes of reviews from top designers all over the world</h1>
                <a href="" class="btn btn-secondary">Submit Project</a>
            </div>
        </div>

        <div class="row ">
            <div class="col ">
                <h1 class="text-center text-secondary">Current Projects</h1>
            </div>
        </div>

        <div class="row">

            {% for project in projects %}
                <div class="col-lg-3 col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="{{project.project_image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{project.project_title}}</h5>
                          <p class="card-text">{{project.project_description}}</p>
                          <a href="#" class="btn btn-primary">live_link</a>
                          <a href="{% url 'single_project' project_id=project.id %}">view project</a>
                        </div>
                      </div>
                </div>
            {% endfor %}
                
        </div>
    </div>
{% endblock content %}