{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                
                {% if search_results %}
                    <p>found{{search_results}} of the seaerched term{{message}}</p>
                {% else %}
                    <p>No results of the term {{message}} were found</p>
                {% endif %}
                    
            </div>
        </div>

        <div class="row">
            
            {% if search_results %}
            
            {% for result in search_results %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{result.project_image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{result.project_title}}</h5>
                      <p class="card-text">{{result.project_description}}</p>
                      <a href="#" class="btn btn-primary">live_link</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
                
            {% endif %}
                
        </div>
    </div>
{% endblock content %}
    